<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- CSS  -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link rel="stylesheet" type="text/css" href="css/csse-sports.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <title>E-sports</title>

</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
  $(function(){
    $(".button-collapse").sideNav();
  });
  </script>
  <nav>
      <div class="nav-wrapper indigo darken-4">
          <a href="../index.html" class="brand-logo" style="font-family: cambria; margin-left: 10px;">NewbaNews</a>
          <a href="../index.html" data-activates="menu-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../index.html" style="font-family: cambria;">Home</a></li>
            <li><a href="noticias.html" style="font-family: cambria;">Notícias</a></li>
            <li><a href="e-sports.html" style="font-family: cambria;">E-sports</a></li>
            <li><a href="videos.html" style="font-family: cambria;">Vídeos</a></li>
            <li><a href="contato.html" style="font-family: cambria;">Contato</a></li>
          </ul>
          <ul class="side-nav" id="menu-mobile">
            <li><a href="../index.html">Home</a></li>
            <li><a href="noticias.html">Notícias</a></li>
            <li><a href="e-sports.html">E-sports</a></li>
            <li><a href="videos.html">Vídeos</a></li>
            <li><a href="contato.html"></a>Contato</li>
          </ul>
      </div>
  </nav>
  <header>
    
  </header>
    <!-- Layout da página -->
  <!-- Menu Horizontal -->
  <div class="row">
    <div class="col s4">
      <!-- Menu lateral -->
      <ul id="nav"> 
        <li class="opcao center"><a class="black-text" href="e-sports.html">Rainbow Six Siege</a></li><img class="logo" src="images/logor6.png">
        <li class="opcao center "><a class="black-text" href="csE-sports.html">Counter Strike: Global Ofensive</a></li><img class="logo2" src="images/logocs.png">  
      </ul>
    </div>
    <div class="col s8">
      <!-- Teal page content  -->
      <table class="striped bordered responsive-table center">
        <thead>
          <tr>
              <th><h4>Classificação</h4></th>
              <th><h4>Pts</h4></th>
              <th><h4>V</h4></th>
              <th><h4>E</h4></th>
              <th><h4>D</h4></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Ninjas in Pijamas</td>
            <td>33</td>
            <td>10</td>
            <td>3</td>
            <td>1</td>
          </tr>
          <tr>
            <td>FaZe Clan</td>
            <td>27</td>
            <td>8</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Team One</td>
            <td>26</td>
            <td>8</td>
            <td>2</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Team Liquid</td>
            <td>24</td>
            <td>7</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Black Dragons</td>
            <td>18</td>
            <td>5</td>
            <td>3</td>
            <td>6</td>
          </tr>
          <tr>
            <td>INTZ e-sports</td>
            <td>13</td>
            <td>3</td>
            <td>4</td>
            <td>7</td>
          </tr>
          <tr>
            <td>MIBR</td>
            <td>11</td>
            <td>2</td>
            <td>5</td>
            <td>7</td>
          </tr>
          <tr>
            <td>Elevate</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="page-footer indigo darken-4">
    <div style="height: 50px; background-color: ; display: block;">
      <p> &nbsp; &nbsp; Copyright © Gabriel Toledo, Leonardo Aguiar e João Gabriel Fortes</p>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>
