<!DOCTYPE html>
<html>
    <head>

    	<meta charset="utf-8">
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
		  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		  <title>Notícias</title>

		  <!-- CSS  -->
		  <meta http-equiv="X-UA-Compatible" content="ie=edge">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <meta charset="utf-8">
    </head>

    <body>


    	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
		<script>
		$(function(){
			$(".button-collapse").sideNav();
		});
		</script>
		<nav>
		    <div class="nav-wrapper indigo darken-4">
		        <a href="home.html" class="brand-logo" style="font-family: cambria; margin-left: 10px;">NewbaNews</a>
		        <a href="home.html" data-activates="menu-mobile" class="button-collapse">
		        	<i class="material-icons">menu</i>
		        </a>
		        <ul id="nav-mobile" class="right hide-on-med-and-down">
		        	<li><a href="home.html" style="font-family: cambria;">Home</a></li>
		            <li><a href="noticias.html" style="font-family: cambria;">Notícias</a></li>
		            <li><a href="e-sports.html" style="font-family: cambria;">E-sports</a></li>
		            <li><a href="videos.html" style="font-family: cambria;">Vídeos</a></li>
		            <li><a href="contato.html" style="font-family: cambria;">Contato</a></li>
		        </ul>
		        <ul class="side-nav" id="menu-mobile">
		            <li><a href="home.html">Home</a></li>
		            <li><a href="noticias.html">Notícias</a></li>
		            <li><a href="e-sports.html">E-sports</a></li>
		            <li><a href="videos.html">Vídeos</a></li>
		            <li><a href="contato.html"></a>Contato</li>
		        </ul>
		      </div>
		  </nav>


    <div style="margin-left: 30%">

    <!-- Cards de noticias -->
   		<h1>Notícias</h1>
   		
		  <div class="row">
		    <div class="col s12 m7">
		      <div class="card">
		        <div class="card-image">
		          <img src="images/gx.jpg">
		          <span class="card-title">BR6 2020 terá presença de público em todas as rodadas</span>
		        </div>
		        <div class="card-content">
		        	<blockquote>
      					Campeonato será realizado no ON e-Stadium (SP)
    				</blockquote>
		          <p>O mais famoso torneio de Rainbow Six Siege brasileiro retorna em 2020, desta vez com plateia em todos os jogos e deve se tornar "caminho para os Majors"</p>
		        </div>
		        <div class="card-action">
		          <a href="https://vs.com.br/artigo/rainbow-six-brasileirao-2020-tera-presenca-do-publico-em-todas-as-rodadas">Confira!</a>
		        </div>
		      </div>
		    </div>
		  </div>

	<div class="row">
		    <div class="col s12 m7">
		      <div class="card">
		        <div class="card-image">
		          <img src="images/cold.jfif">
		          <span class="card-title">MIBR e Coldezera reencontram-se nas finais da ESL Pro League</span>
		        </div>
		        <div class="card-content">
		        	<blockquote>
      					O confronto deve ser um marco na história do Counter-Strike brasileiro
    				</blockquote>
		          <p>Duelo entre MIBR e FaZe Clan marca o primeiro reencontro entre Coldzera, Fallen, TACO e Fer desde a conturbada separação do quarteto</p>
		        </div>
		        <div class="card-action">
		          <a href="https://vs.com.br/artigo/rainbow-six-brasileirao-2020-tera-presenca-do-publico-em-todas-as-rodadas">Confira!</a>
		        </div>
		      </div>
		    </div>
		  </div>

	<div class="row">
		 <div class="col s12 m7">
		     <div class="card">
		        <div class="card-image">
		          <img src="images/lucas.webp">
		          <span class="card-title">Rumores apontam entrada de Meyern na MIBR</span>
		        </div>
		        <div class="card-content">
		        	<blockquote>
      					O jogador argentino substituiria LUCAS1 no elenco da Made in Brazil
    				</blockquote>
		          <p>Nesta Terça Feira (03/12/19) a HLTV, em conjunto com o Globo Esporte, apurou a possível entrada de Ignacio "meyern" Meyer na line-up da MIBR </p>
		        </div>
		        <div class="card-action">
		          <a href="https://vs.com.br/artigo/rainbow-six-brasileirao-2020-tera-presenca-do-publico-em-todas-as-rodadas">Confira!</a>
		        </div>
		      </div>
		    </div>
		 </div>
	</div>
  	
    <footer class="page-footer indigo darken-4">
    	<div style="height: 50px; background-color: ; display: block;">
    		<p> &nbsp; &nbsp; Copyright © Gabriel Toledo, Leonardo Aguiar e João Gabriel Fortes</p>
    	</div>
    </footer>

    <!--  Scripts-->
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>
</html>
        