body{
	font-family: arial;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	position: relative;
	font-size: 15pt;
}	

.opcao{
	margin: 15px;
	padding: 0px;
	position: center;
	float: left;
}

.logo{
	height: 50px;
	width: 50px;
	margin: 5px;
	padding: 0px;
	position: center;
	float: left;
}

.logo2{
	width: 96.4px;
	height: 40px;
	float: left; 
}

table{
	max-width: 80%;
	margin: 50px;
}

#icone{
	margin-top: 55px;
}